/* border keyframe */
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$timing: 0.4s;

@mixin borderBeforeAfter {
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  transition: height $timing $timing $easeInOutQuint,
    width $timing $easeInOutQuint;
}
@mixin borderBefore {
  box-shadow: 2px 2px 0 rgb(124, 124, 124, 1) inset;
  bottom: 0;
  left: 0;
}
@mixin borderAfter {
  box-shadow: -2px -2px 0 rgb(124, 124, 124, 1) inset;
  top: 0;
  right: 0;
}
@mixin hoverBeforeAfter {
  height: 100%;
  width: 100%;
  transition: height $timing $easeInOutQuint,
    width $timing $timing $easeInOutQuint;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background: #000000;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 222px 946px #c255fc, 408px 926px #c255fc, 1608px 1741px #c255fc,
    1977px 1436px #c255fc, 713px 1152px #c255fc, 139px 39px #c255fc,
    497px 1590px #c255fc, 1808px 1652px #c255fc, 598px 667px #c255fc,
    1962px 75px #c255fc, 331px 1245px #c255fc, 1600px 1822px #c255fc,
    1463px 883px #c255fc, 299px 335px #c255fc, 1229px 909px #c255fc,
    448px 581px #c255fc, 1346px 571px #c255fc, 1247px 458px #c255fc,
    799px 186px #c255fc, 643px 404px #c255fc, 1330px 790px #c255fc,
    299px 699px #c255fc, 1593px 1891px #c255fc, 934px 1230px #c255fc,
    1162px 1835px #c255fc, 903px 1024px #c255fc, 596px 900px #c255fc,
    1223px 1078px #c255fc, 682px 1024px #c255fc, 151px 373px #c255fc,
    54px 1586px #c255fc, 657px 1902px #c255fc, 812px 273px #c255fc,
    705px 1142px #c255fc, 1902px 1353px #c255fc, 1222px 1980px #c255fc,
    767px 158px #c255fc, 22px 663px #c255fc, 1055px 727px #c255fc,
    1728px 750px #c255fc, 223px 287px #c255fc, 438px 127px #c255fc,
    224px 1146px #c255fc, 1594px 1466px #c255fc, 1505px 436px #c255fc,
    389px 1049px #c255fc, 596px 435px #c255fc, 1997px 1798px #c255fc,
    29px 51px #c255fc, 40px 514px #c255fc, 1779px 769px #c255fc,
    652px 1211px #c255fc, 1599px 347px #c255fc, 1854px 1941px #c255fc,
    485px 1633px #c255fc, 697px 1894px #c255fc, 1772px 877px #c255fc,
    555px 1030px #c255fc, 976px 1338px #c255fc, 541px 1112px #c255fc,
    817px 899px #c255fc, 961px 923px #c255fc, 115px 1321px #c255fc,
    875px 434px #c255fc, 1577px 1980px #c255fc, 1160px 131px #c255fc,
    15px 160px #c255fc, 979px 56px #c255fc, 959px 1756px #c255fc,
    1358px 435px #c255fc, 563px 591px #c255fc, 1284px 475px #c255fc,
    341px 601px #c255fc, 74px 471px #c255fc, 416px 584px #c255fc,
    692px 536px #c255fc, 1041px 377px #c255fc, 1601px 1923px #c255fc,
    1014px 241px #c255fc, 122px 1594px #c255fc, 1510px 280px #c255fc,
    195px 1720px #c255fc, 152px 104px #c255fc, 1686px 811px #c255fc,
    1329px 750px #c255fc, 1655px 441px #c255fc, 1288px 1040px #c255fc,
    1802px 1368px #c255fc, 767px 615px #c255fc, 302px 195px #c255fc,
    1973px 1902px #c255fc, 1088px 1583px #c255fc, 1840px 1126px #c255fc,
    500px 111px #c255fc, 1263px 667px #c255fc, 1748px 121px #c255fc,
    1608px 364px #c255fc, 1064px 1610px #c255fc, 1682px 1826px #c255fc,
    1747px 1800px #c255fc;
  animation: animStar 20s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-1500px);
  }
}
